Auth flow is issuing POST request to client redirect instead of redirecting

After authorizing and selecting a patient in step 7 of [Generate an authorization code
Patient workflow: Generate authorization code using Personal account](https://mydata.athenahealth.com/access-the-apis), the server issues a POST request to the client application's redirect URL, including the response parameters in the request body. Instead, the authorization server **must** redirect the user back to the specified redirect URL, including the response parameters as query parameters in the URL. For more information, please see the following:

- [Section 7.1.2 of the SMART App Launch Framework](http://hl7.org/fhir/smart-app-launch/#step-2-ehr-evaluates-authorization-request-asking-for-end-user-input)
- [The OAuth 2.0 Authorization Framework RFC 6749, Section 4.1.2](https://tools.ietf.org/html/rfc6749#section-4.1.2)

<img width="1436" alt="Screen Shot 2020-11-25 at 8 28 41 PM" src="https://user-images.githubusercontent.com/6721921/100304823-d3181680-2f5c-11eb-9974-e5144fe33bae.png">



@jdkizer9 The flow that you are mentioning in [Section 7.1.2 of the SMART App Launch Framework](http://hl7.org/fhir/smart-app-launch/#step-2-ehr-evaluates-authorization-request-asking-for-end-user-input) is an end to end working SMART app launch flow.

In our Developer portal we have a specified step to get the auth code only, which is mentioned here:
[Generate an authorization code
Patient workflow: Generate authorization code using Personal account](https://mydata.athenahealth.com/access-the-apis).

In next steps you can create access token manually using this auth code using Postman.
So, don't get it confused with the actual SMART app flow.
Let me know if you have doubts.





Thanks for the info @raviranjank256. It seems like the system is not quite ready for patient facing applications yet. Do you have plans to add support for the SMART App Launch flow in the future?

Yes, We have planed to add support for the same in future releases. 